a(href='google.com') Google
//separate multiple attributes with comma or space
a(class='button' href='google.com') Google
a(class='button', href='google.com') Google
//js expressions in attribute
- var authenticated = true
body(class=authenticated ? 'authed' : 'anon')
//multiple line attribute
input(
  type='checkbox'
  name='agreement'
  checked
)
//js template string
input(data-json=`
  {
    "very-long": "piece of ",
    "data": true
  }
`)
//speicial attribute names with parenthesis
div(class='div-class', (click)='play()')
div(class='div-class' '(click)'='play()')
//unescaped attributes(DANGER!!!)
div(escaped="<code>")
div(unescaped!="<code>")
//boolean attributes(may generate different output depends on the doctype value)
input(type='checkbox' checked)
input(type='checkbox' checked=true)
input(type='checkbox' checked=false)
input(type='checkbox' checked=true.toString())
input(type='checkbox' checked= true && 'checked')
//style attributes as string
a(style="{color: red;}")
//style attributes as object
a(style={color: 'red', background: 'green'})
//class attributes as string
a(class='hover_link')
//class attributes as array
- var classes = ['foo', 'bar', 'baz']
a(class=classes)
//the class attribute may also be repeated to merge arrays
a.bang(class=classes class=['bing'])
//class attribute as inline object
- var currentUrl = '/about'
a(class={active: currentUrl === '/'} href='/') Home
a(class={active: currentUrl === '/about'} href='/about') About
